
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#developerAdder">
      Add a Developer
</button>
<div class="modal fade" id="developerAdder" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Select Developer to add</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <% developer_present %>
    <%= form_for(@project, :html => {class: "form-horizontal", role: "form"}) do |f| %>
    <% if @user_present.present? %>
		<%= select(:user, "user_id", @user_present.collect {|p| [ "Developer Person: "+p.name, p.id ] }, :prompt => 'Select a Developer') %>
    <%= f.submit class: "btn btn-md btn-warning" %>
    <% else %>
      <p> No developer is available</p>
    <% end %>
    <% end %>
    
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
    
