@import 'bootstrap/dist/css/bootstrap';


.navbar {

background-color: #33ceff !important;

}
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.navbar-brand {

font-size: 3rem;

}

 

h1 ,h3{
margin-top: 10px;
text-align: center;
color: black;
margin-bottom: 30px;
}
.center1 {
text-align: center;
align-content: center;    
}

img.image-setter{
	width: 400px;
	height: auto;	
}